body{
  text-align: center;
  font-family: 'Henny Penny', cursive;
  background-color: rgb(235, 152, 84);
  background-image: url("fondopizarra.jpeg");
  background-repeat: no-repeat;
  background-position: center 10vh;
  background-size: 80vw;
  color: black;
}

#pizarra{
  top: 10vh;
  justify-self: center;
  width: 60vw;
  position: relative;
  left: 20vw;
  font-family: 'Schoolbell', cursive;
  font-size: 5em;
}

#cuenta1{
  display: grid;
  grid-template-areas: "signo a1"
                      "signo b1"
                      "linea linea"
                      "nada c1"
                      "nada prueba";
  justify-content: center;
  color: white;
  grid-column-gap: 0.5em;
  grid-template-rows: auto auto 5px auto;
}

#a1{
  grid-area: a1;
  text-align: right;
}

#signo{
  grid-area: signo;
  align-self: center;
  text-align: center;
}

#b1{
  grid-area: b1;
  text-align: right;
}

#linea{
  grid-area: linea;
  text-align: right;
  line-height: 0;
  display: none;
}

#c1{
  grid-area: c1;
  text-align: right;
}

#resultado{
  font-family: "Schoolbell", cursive;
  font-size: 1em;
  margin-top: 0.5em;
  text-align: right;
  background: none;
  color: white;
  border: none;
  display: none;
}

#prueba{
  grid-area: prueba;
  font-family: "Schoolbell", cursive;
  font-size: 0.3em;
  margin-top: 0.5em;
  text-align: center;
  background: none;
  color: white;
  cursor: pointer;
  width: max-content;
  justify-self: end;
  display: none;
}
