body{
  text-align: center;
  font-family: 'Henny Penny', cursive;
  background-color: rgb(235, 152, 84);
  color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  font-size: calc(3vw + 4vh + 0.2vmin);
}

#telonTotal{
  display: none;
  width: 100vw;
  height: 100Vh;
  background-color: rgb(235, 152, 84);
  justify-items: center;
  align-content: center;
  position: absolute;
}

#telonTotal h2 {
  font-size: 75%;
  width: 90%;
}

#telonTotal input {
  margin: 1vh;
  width: auto;
  height: auto;
  background-color: pink;
  border-color: blue;
  font-family: 'Schoolbell', cursive;
  font-size: 70%;
  border-radius: 17px;
  padding: 1vw;
  cursor: pointer;
}

#participante {
  width: 90vw;
}

#participante h2 {
  font-size: 70%;
}

#pizarra{
  background-image: url("fondopizarra.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  justify-self: center;
  width: 80vw;
  font-family: 'Schoolbell', cursive;
  font-size: 50%;
  height: 50vh;
  align-content: center;
  display: grid;
}

#pizarra img{

}

#cuenta1{
  display: grid;
  grid-template-areas: "signo a1"
                      "signo b1"
                      "linea linea"
                      "c1 c1"
                      "prueba prueba";
  justify-content: center;
  color: white;
  grid-column-gap: 0.5em;
  grid-template-rows: auto;
}

#a1{
  grid-area: a1;
  text-align: right;
}

#signo{
  grid-area: signo;
  align-self: center;
  text-align: center;
  color: yellow;
}

#b1{
  grid-area: b1;
  text-align: right;
}

#linea{
  grid-area: linea;
  text-align: right;
  line-height: 0.5px;
  display: none;
  font-variant-position: super;
}

#c1{
  grid-area: c1;
  align-content: end;
  display: grid;
}

#resultado{
  font-family: "Schoolbell", cursive;
  font-size: 100%;
  margin-top: 0.2em;
  text-align: right;
  background: none;
  color: white;
  border: yellow;
  border-style: dashed;
  display: none;
  padding: 0px;
}

#prueba{
  grid-area: prueba;
  font-family: "Schoolbell", cursive;
  font-size: 70%;
  margin-top: 1em;
  text-align: center;
  background: none;
  color: white;
  cursor: pointer;
  width: max-content;
  justify-self: end;
  display: none;
}

@media screen and (orientation:portrait) {

  #pizarra {
    background-size: 100% 100%;
    font-size: 110%;
    width: 90vw;
    height: 60vh;
  }

}
